<!DOCTYPE html>
<html>
<head>
    <title>Bennie's Board</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
    body {
        width: 30%;
        margin: 0 auto;
    }
    #content {
        height: 300px;
        resize: none;
    }
    h1 a {
        text-decoration: none;
        color: limegreen;
    }
    h1 a:hover {
        text-decoration: none;
        color: limegreen;
    }

</style>
<body>
    <h1><a href="/">끝이 없는 배움의 끝</a></h1>


